/* HomePage StyleSheet */

.img-staple {
    font-family: 'Source Sans Pro', arial, sans-serif;
    position: absolute;
    right: 40px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    text-align: center;
    padding: 40px;
}

.img-button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 32px;
    margin-top: 10px;

    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);

    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;

    color: white;
    background-color: black;

    width: auto;
}

.home-img {
    width: 90%;
    height: auto;

    /* position: absolute; */
}

.home-img-blurred {
    width: 100%;
    height: auto;

    /* position: relative; */

    /* filter: blur(5px);
    -webkit-filter: blur(5px); */
}
