/* 
    NavBar StyleSheet

    why doesn't toggler nav work?
*/

.toggler-nav {
    outline: none;
    border: none;
}

.synch-logo-size {
    width: 150px;
}

.fixed {
    position: sticky;
    top: 0;
}