/* 
    NavBar StyleSheet
*/

/* white transparent background */
.synch-nav {
    background-color: rgb(158, 157, 153);
    width: 100vw;
  }

.toggler-nav {
    outline: none !important;
    border: none !important;
}

.synch-logo-size {
    max-width: 150px;
    flex: 1;
    visibility: hidden;

    transition: 0.3s;
}

.synch-logo-size-sm {
    max-width: 100px;
    flex: 1;
    visibility: hidden;

    transition: 0.3s;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
}