/* 
    NavBar StyleSheet
*/

/* white transparent background */
.synch-nav {
    background-color: rgba(255, 255, 255, 0.92);
    width: 100vw;
  }

.toggler-nav {
    outline: none;
    border: none;
}

.synch-logo-size {
    width: 150px;
}

.synch-logo-size-sm {
    width: 100px;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
}